__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
ENV/

build/
dist/
*.egg-info/

*.manifest
*.toc
*.pkg

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

*.code-workspace
.vscode/
.idea/
.DS_Store
Thumbs.db

/database/
/gui/banners/
/game.txt

*.log
